.home-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin-left: 3rem;
    /* background-color: blueviolet; */
  }
  
  .home-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 3rem;
  }
  
  .home-text-container {
    display: flex;
    align-items: center;
  }
  
  .home-text-container div {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
  
  .home-h1 {
    font-weight: bolder;
    font-size: 1.7rem;
    margin-top: -2.5rem;
  }

  .AI-Dev{
    color: #7575758b;
  }
  
  .developer {
    font-weight: bolder;
    font-size: 1.7rem;
    margin-top: -5.5rem;
    
  }
  
  .home-image-container {
    max-width: 47%;
    border-radius: 50px 50px 50px 150px;
    margin-left: auto; 
    margin-right: 2rem;
  }
  
  .home-image-container img {
    border-radius: inherit;
    max-width: 100%;
    height: auto;
  }
  .home-icon{
    color: rgb(255, 106, 0);
  }
  
  @media (max-width: 768px) {
    .home-image-container {
      max-width: 100%;
      margin: 0;
    }
    .home-content {
      flex-grow: 100%;
    }
  }